:root {
  --imgBorder: 5px;
}

.header {
  font-size: 1.5em;
}

.experienceMenu div {
  background-color: lightgray;
  width: 33%;
  text-align: center;
  padding: 1em;
}

.experienceMenu div:hover {
  background-color: black;
  color: white;
}

.contentHorizontal {
  width: 100%;
}

.contentHorizontal .title {
  font-size: 1.25em;
  margin: 1em 0;
}

.contentHorizontal img {
  width: calc(100% - (var(--imgBorder) * 2));
  border: var(--imgBorder) solid black;
  border-radius: 10px;
}

.contentVertical img {
  height: calc(50vh - (var(--imgBorder) * 2));
  border: var(--imgBorder) solid black;
  border-radius: 10px;
}
