:root {
  --imgBorder: 3px;
  --horizDisplay: "block";
}

.header {
  font-size: 1.5em;
}

.experienceMenu div {
  background-color: lightgray;
  width: 33%;
  text-align: center;
  padding: 1em;
}

.contentHorizontal {
  width: 100%;
}

.contentHorizontal .title {
  font-size: 1.25em;
}

.contentHorizontal img {
  width: calc(100% - (var(--imgBorder) * 2));
  border: var(--imgBorder) solid black;
  border-radius: 10px;
}

.contentVertical img {
  align-items: center;
  justify-content: space-between;
  width: calc(38vw - (var(--imgBorder) * 2));
  border: var(--imgBorder) solid black;
  border-radius: 10px;
}

@media (min-width: 601px) and (orientation: landscape) {
  :root {
    --horizDisplay: "flex";
  }

  .contentVertical img {
    width: auto;
    height: calc(90vh - (var(--imgBorder) * 2) - 150px);
  }
  .contentHorizontal {
    display: flex;
    align-items: center;
  }

  .contentHorizontal div {
    margin: 0 0.5em;
  }
}
